body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0;
    margin: 0;
    text-align: center;
    background-color: rgb(252, 245, 238);
}

span {
    border-bottom: 2px solid black;
    padding: 4px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    border-color: rgb(235, 142, 170);
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    width: 100px;
    border-style: double;
}

button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color:  rgb(199, 102, 131);
    font-size: 16px;
}

#btns {
    margin-top: 50px;
    margin-bottom: 20px;
}

/* .container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

} */

h1 {
    font-family: 'Concert One', cursive;
    
}